.galleryList {
    display: grid;
    grid-template-columns: repeat(autofill,minmax(147px,220px));
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 8px;
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
    }